<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Igreja Nossa Senhora Do Bom Sucesso</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="hero">
        <nav>
            <h2 class="Logo">Igreja<span>NSBS</span></h2>
            <ul>
                <li><a href="#inicio">Home</a></li>
                <li><a href="#Metas">Atividades e Metas</a></li>
                <li><a href="#Sugestão">Sugestões</a></li>
            </ul>
            <a href="#" class="btn">Login</a>
        </nav>
        <div id="inicio" class="content">
            <h4>Venha participar da nossa comunidade!</h4>
            <h3>Participe das nossas atividades e metas e fique a vontade para dar sugestões!</h3>
        </div>
    </div>

    <section class="sobre">
        <div class="main">
            <img src="/static/img/foto1.jpg">
            <div class="sobre-texto">
                <h2>Sobre a Igreja</h2>
                <p>A Igreja Matriz de Nossa Senhora do Bom Sucesso é um templo católico barroco de Caeté, em Minas Gerais, Brasil. Foi projetada na primeira metade do século XVIII possivelmente por Antônio Gonçalves da Silva Bracarena, mas um relato de época a atribui o risco a Manuel Francisco Lisboa e a execução a Bracarena, sendo uma das edificações precursoras do rococó em Minas.<br>  Missas:<br>
                    Domingo:	07:00, 09:30, 19:00
                    <br>
                    Quarta-feira:	07:00
                    <br>
                    Quinta-feira:	07:00
                    <br>
                    Sexta-feira:	07:00
                    <br>
                    Sábado:	19:00</p>
                
            </div>
        </div>
    </section>
    <section id="Metas">
    <div class="Metas">
        <h2>Atividades e Metas</h2>
        <div class="as">
           <div class="img"><img src="/static/img/jovens.jpg"></div> 
        <div class="text">
            <h1>Grupo de Jovens</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae dolores voluptatum pariatur voluptate, dolor quidem doloremque adipisci? Sit, reprehenderit. Quos quasi cum nobis vel cumque dolorem quibusdam numquam incidunt mollitia?</p>
            <a href="#">Participe &rarr;</a>
        </div>
        </div>
        <div class="as">
            <div class="img"><img src="/static/img/bazar.jpeg"></div> 
        <div class="text">
            <h1>Bazar da Igreja</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae dolores voluptatum pariatur voluptate, dolor quidem doloremque adipisci? Sit, reprehenderit. Quos quasi cum nobis vel cumque dolorem quibusdam numquam incidunt mollitia?</p>
            <a href="#">Participe &rarr;</a>
        </div>
        </div>
          <div class="as">
            <div class="img"><img src="/static/img/alimentos.jpg"></div> 
        <div class="text">
            <h1>Arrecadaçao de Alimentos</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae dolores voluptatum pariatur voluptate, dolor quidem doloremque adipisci? Sit, reprehenderit. Quos quasi cum nobis vel cumque dolorem quibusdam numquam incidunt mollitia?</p>
            <a href="#">Participe &rarr;</a>
        </div>
        </div>
        <div class="as">
            <div class="centerlize">
                <h1>Meta Atual</h1>
                <label for="donate">Barra de arrecadações</label> <br>
                <progress id="donate" value="78" max="100"></progress>
                <p> A arrecadação para finalidade: "[[alterar]]" está sendo feita na Igreja Matriz de Nossa Senhora do Bom Sucesso
                    das 00:00h até 00:01h. Agradeceços a colaboração de todos!</p>
            </div>
         </div>
       
    </div>
    </section>
    <section id="Sugestão">
        <div class="sugestao">
            <div class="sug">
                <div class="text">
            <h1>Deixe sua sugestão!</h1>
            </div>
            <div class="email">
                <form class="form" action="https://formsubmit.co/sitenssbonsucesso@gmail.com" method="POST">
                    <label for="email">E-mail:</label>
                    <input type="email" name="email" placeholder="insira seu email" required><br>
                    <label for="mensagem">Sugestão:</label>
                    <input type="text" name="mensagem" placeholder="Sugestão" required>
                 <button class="btn" type="submit">Enviar</button>    
             </form>
        </div>
    </div>
        </div>
    </section>


    
</body>
